.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 480px;
    height: auto;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.titulo {
    margin-bottom: 30px;
}

.producto {
    float: left;
    margin: 20px;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    background-color: #fff;
}

.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
}

.container {
    height: auto;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

[data-theme="dark"] .site-layout-content {
    background: #141414;
}

[data-theme="dark"] .logo {
    background: rgba(255, 255, 255, 0.3);
}

.example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.spin {
    text-align: center;
}

.example {
    background: rgba(255, 255, 255, 0.08);
}

.inputbuscar {
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.name {
    float: right;
    font-size: 16px;
}

.listitem {
    text-align: left;
    width: 70%;
    margin: auto;
}

center{
    margin: auto;
    text-align: center;
}

.imagen {
    float: left;
    margin-top: 40px;
}

.texto{
    float: right;
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    width: 90%;
}

.post{
    width: 75%;
    margin: auto;
    float: left;
}

.postlist{
    width: 20%;
    float: right;
    margin-right: 0px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    background-color: #dbdbdb;
    height: 100%;

}



.texolist{
    width: 70%;
}

.list-item{
    width: 100%;
    padding: 0;
    margin: 0;
}


.listausers{
    width: 400px;
    margin: auto;
    text-align: left;
}

.listacomentarios{
    width: 600px;
    margin: auto;
    text-align: left;
}

.addtag{
    width: 30%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.tag{
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 15px;  
}
.texto-cat{
    margin-top: 15px;
}